<% layout('layouts/boilerplate')%>
    <h1>
        <%=attraction.name%>
    </h1>
    <h2>
        <%=attraction.location%>
    </h2>
    <img src="<%=attraction.image%>">
    <p>
        <%=attraction.description%>
    </p>
    <div>
        <a href="/attractions/<%=attraction._id%>/edit">Edit</a>
    </div>
    <div>
        <form action="/attractions/<%=attraction._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </div>
    <footer>
        <a href="/attractions">All Attractions</a>
    </footer>